.todo-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
  margin: 0 auto;
  min-width: 600px;
}

.todo-input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  border: 0;
  border-radius: 0;
  &:focus {
    outline: 0;
  }
}

.extra-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px 0;
}

.check-all {
  padding-bottom: 30px;
  border-bottom: 1px dotted #666;
}

.check-all-text {
  margin-left: 12px;
}

button {
  font-size: 16px;
  margin: 0 2px;
  font-weight: 400;
  appearance: none;
  transition: 0.2s;
  &:hover {
    color: white;
  }
}

.buttons {
  margin-left: -16px;
}

.clear-completed {
  color: white;
  font-weight: 400;
  margin-right: -16px;
}

.active {
  color: white;
}
