<div class="todo-list">
  <mat-form-field>
    <input
      matInput
      class="todo-input"
      placeholder="Enter a todo..."
      [(ngModel)]="todoTitle"
      (keyup.enter)="addTodo()"
    />
  </mat-form-field>
  <div class="items">
    <todo-item
      *ngFor="let todo of todoService.todosFiltered()"
      [todo]="todo"
    ></todo-item>
  </div>

  <div class="bottom-container">
    <div class="extra-container">
      <div>
        <label>
          <mat-checkbox
            (change)="todoService.checkAllTodos()"
            [(ngModel)]="!todoService.anyRemainingModel"
            >Check All</mat-checkbox
          >
        </label>
      </div>
      <div>{{ todoService.remaining() }} tasks left todo</div>
    </div>
    <div class="extra-container">
      <div>
        <button
          mat-button
          [ngClass]="{ active: todoService.filter == 'all' }"
          (click)="todoService.filter = 'all'"
        >
          All
        </button>
        <button
          mat-button
          [ngClass]="{ active: todoService.filter == 'active' }"
          (click)="todoService.filter = 'active'"
        >
          Active
        </button>
        <button
          mat-button
          [ngClass]="{ active: todoService.filter == 'completed' }"
          (click)="todoService.filter = 'completed'"
        >
          Completed
        </button>
      </div>
      <div *ngIf="todoService.atLeastOneCompleted()">
        <button mat-button (click)="todoService.clearCompleted()">
          Clear Completed
        </button>
      </div>
    </div>
  </div>
</div>
