<app-todo-input></app-todo-input>
<div class="todo-list">
  <div class="extra-container">
    <div class="buttons">
      <button
        mat-button
        [ngClass]="{ active: todoService.filter == 'all' }"
        (click)="todoService.filter = 'all'"
      >
        View All
      </button>
      /
      <button
        mat-button
        [ngClass]="{ active: todoService.filter == 'active' }"
        (click)="todoService.filter = 'active'"
      >
        Active
      </button>
      /
      <button
        mat-button
        [ngClass]="{ active: todoService.filter == 'completed' }"
        (click)="todoService.filter = 'completed'"
      >
        Completed
      </button>
    </div>
    <div *ngIf="todoService.atLeastOneCompleted()">
      <button
        mat-button
        class="button button-clear-completed"
        (click)="todoService.clearCompleted()"
      >
        Clear Completed
      </button>
    </div>
  </div>
  <div class="extra-container check-all">
    <mat-checkbox
      (change)="todoService.checkAllTodos()"
      [(ngModel)]="!todoService.anyRemainingModel"
      ><span class="check-all-text">Check All</span></mat-checkbox
    >
    <div *ngIf="todoService.todoList.length != 0">
      {{ todoService.remaining() }} Tasks left todo
    </div>
  </div>
  <div role="list">
    <app-todo-item [@listAnimation]="todo"></app-todo-item>
  </div>
</div>
