<app-todo-input></app-todo-input>
<div class="todo-list">
  <div class="extra-container">
    <div class="buttons">
      <button
        mat-button
        [ngClass]="{ active: todoService.filter == 'all' }"
        (click)="todoService.filter = 'all'"
      >
        View All
      </button>
      <span class="slash"> / </span>
      <button
        mat-button
        [ngClass]="{ active: todoService.filter == 'active' }"
        (click)="todoService.filter = 'active'"
      >
        Active
      </button>
      <span class="slash"> / </span>
      <button
        mat-button
        [ngClass]="{ active: todoService.filter == 'completed' }"
        (click)="todoService.filter = 'completed'"
      >
        Completed
      </button>
    </div>
    <div *ngIf="todoService.atLeastOneCompleted()">
      <button
        mat-button
        class="clear-completed"
        (click)="todoService.clearCompleted()"
      >
        Clear Completed
      </button>
    </div>
  </div>
  <div class="extra-container check-all">
    <label>
      <mat-checkbox
        (change)="todoService.checkAllTodos()"
        [(ngModel)]="!todoService.anyRemainingModel"
        ><span class="check-all-text">Check All</span></mat-checkbox
      >
    </label>

    <div>{{ todoService.remaining() }} Tasks left todo</div>
  </div>
  <div role="list" class="items">
    <app-todo-item
      class="list-item"
      [@listAnimation]="todo"
      *ngFor="let todoItem of todoService.todosFiltered()"
      [todo]="todoItem"
    ></app-todo-item>
  </div>
</div>
