<div class="todo-item">
  <div class="todo-item-left">
    <mat-checkbox
      [(ngModel)]="todo.completed"
      (change)="todoService.doneEdit(todo)"
    >
    </mat-checkbox>
  </div>
  <div
    class="todo-item-label"
    *ngIf="!todo.editing; else editingTodo"
    [ngClass]="{ completed: todo.completed }"
    (dblclick)="todoService.editTodo(todo)"
  >
    {{ todo.title }}
  </div>
  <ng-template #editingTodo>
    <input
      type="text"
      class="todo-item-edit"
      *ngIf="todo.editing"
      [(ngModel)]="todo.title"
      (blur)="todoService.doneEdit(todo)"
      (keyup.enter)="todoService.doneEdit(todo)"
      (keyup.esc)="todoService.cancelEdit(todo)"
    />
  </ng-template>

  <div class="todo-item-right">
    <div
      class="edit-item"
      (click)="todoService.editTodo(todo)"
      (dblclick)="todoService.editTodo(todo)"
    >
      <mat-icon>edit</mat-icon>
    </div>
    <div class="remove-item" (click)="todoService.deleteTodo(todo.id)">
      <mat-icon>clear</mat-icon>
    </div>
  </div>
</div>
