.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(102, 102, 102, 0.6);
  width: 100%;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}

.todo-item-left {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.todo-item-right {
  display: flex;
  align-items: center;
  color: #b5b5b5;
}

.todo-item-label {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-left: 12px;
  white-space: nowrap;
  transition: 0.5s;
}

.todo-edit-input {
  font-size: 24px;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  margin-right: 18px;
  border: none;
  background: rgb(53, 53, 53);
  color: white;
  &:focus {
    outline: none;
  }
}

.edit-todo-item {
  &:hover {
    font-weight: 700;
    color: white;
  }
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #69f0ae;
  color: #666;
}

.remove-todo-item {
  cursor: pointer;
  margin-left: 14px;
  transition: 0.3s;
  &:hover {
    font-weight: 700;
    color: white;
  }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border: 1px solid #666;
}
